form {

  .input-group {
  }

  :focus {
    z-index:0;
    outline: 0;
    background-color:white;
    opacity:100%;
  }
}



legend {
  font-variant: small-caps;
  font-size: 10px;
  color:$primary;
  font-weight:300;
}
