#tmologo {
  left:1.5em;
  margin-top:2em;
}

.navbar {
  // colors
  background: linear-gradient(rgba($bg, 1), rgba($bg, 0.05));
  color: rgba(0,0,0, 0.8);
  backdrop-filter: blur(0.4em);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.02);

  // positioning
  left:0;
  z-index:2;

  // extras
  padding:1em;
  margin-bottom:0.5em;

  b {
    color:$primary;
    font-weight: 600;
  }
}

.link-item:active {
  color:white;
}
