form {

  .input-group {
  }

  :focus {
    z-index:0;
    outline: 0;
    border-style:solid $primary;
    background-color:green;
    opacity:100%;
  }
}


legend {
  font-size: 0.5em;
  color:$primary;
  font-weight:100;
}
