#tmologo {
  left:1.5em;
  margin-top:2em;
}

.navbar {
  // colors
  background: linear-gradient(rgba($bg, 1), rgba($bg, 0.5));
  color: rgba(0,0,0, 0.8);
  backdrop-filter: blur(0.4em);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.02);

  position:sticky !important;
}

.link-item:active {
  color:white;
}
