@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap';


@import 'override.scss';
@import './components/nav.scss';
@import './components/vcard.scss';
@import './components/form.scss';
@import './components/tabs.scss';

// bootstrap scss
@import '../node_modules/bootstrap/scss/bootstrap.scss';



body {
  font-family: 'Open Sans';
  background: $bg;
  color: black;
  height:100%;
}


#qrResult {
  canvas {
    width:17em;
  }
}
