@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap';


@import 'override.scss';
@import '../structure/nav/nav.scss';
@import './components/footer.scss';
@import './components/form.scss';
@import './components/tabs.scss';





body {
  font-family: 'Open Sans';
  background: $bg;
}

.qrcontent {
    background: $bg;
    color: black;
    position: relative;
    width:100%;
    z-index:1
}

a{
  color:white;
}




#qrResult {
  width:300px;
  canvas {
    width:inherit;
  }
}



// bootstrap scss
@import '../node_modules/bootstrap/scss/bootstrap.scss';
